<mat-sidenav-container class="dashboard-container">
  <mat-sidenav-content>
    <mat-expansion-panel>
      <!-- LEVEL TABS  -->
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Training Definition Summary</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="filter-content">
        Level tabs component is here you just cant see it
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <!-- FILTERS SELECTION  -->
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Visualization filters</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="filter-content">
        Manage displayed events:
        <kypo2-viz-overview-filters
                (activeFilters)="filterChange($event)">
        </kypo2-viz-overview-filters>
        <div class="display-selection">
          <mat-form-field appearance="fill">
            <mat-label>Trainee display</mat-label>
            <mat-select [(value)]="selectedTraineeView" (selectionChange)="togglePlayerView($event)">
              <mat-option [value]="'avatar'">Avatar</mat-option>
              <mat-option [value]="'name'">Name</mat-option>
              <mat-option [value]="'both'">Avatar + Name</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>
    <!-- TRAINEE SELECTION  -->
    <div *ngIf="visualizationData$ | async">
      <kypo2-viz-hurdling-player-selection
        [visualizationData]="visualizationData$ | async"
        [selectedPlayerView]="selectedTraineeView"
        (filteredPlayersChange)="traineeFilterChange($event)">
      </kypo2-viz-hurdling-player-selection>
    </div>

    <!-- DASHBOARD CONTENT  -->
    <div class="dashboard-container">
      <!-- HURDLING CONTENT  -->
      <div class="vis hurdling-content" style="display: block; justify-content: center;">
        <div *ngIf="visualizationData$ | async" class="name-header">Training Overview</div>
        <kypo-hurdling-visualization
                (highlightedPlayer)="highlightTraineeChange($event)"
                (outputSelectedPlayers)="selectedTraineesChange($event)"
                [setDashboardView]=true
                [isStandalone]="true"
                [selectedPlayerView]="selectedTraineeView"
                [trainingInstanceId]="trainingInstanceId"
                [selectedTrainees]="hurdlingTrainees$ | async"
        ></kypo-hurdling-visualization>
      </div>
      <div class="overview-container">
        <!-- CLUSTERING CONTENT  -->
        <div class="vis left">
          <div class="name-header">Time-Score Overview</div>
          <kypo2-viz-overview-clustering
                  [size]="clusteringSize"
                  [trainingInstanceId]="trainingInstanceId"
                  [trainingDefinitionId]="trainingDefinitionId"
                  [standalone]="true"
                  [highlightedTrainee]="highlightedTrainee$ | async"
                  [filterPlayers]="filteredTrainees$ | async"
                  (selectedTrainee)="highlightTraineeChange($event)"
          ></kypo2-viz-overview-clustering>
        </div>
        <div class="vis right overflow overview-line {{!((filteredTrainees$ | async).length > 0) ?  'hidden' : ''}}"
             [ngStyle]="{'justify-content': 'center'}">
          <div class="overview-visualization-container">
            <div class="name-header">Individual Walkthrough for
              <span *ngFor="let traineeId of filteredTrainees$ | async">
                <img *ngIf="selectedTraineeView === 'avatar' else noAvatar"
                     class="trainee-avatar"
                     src="data:image/png;base64,{{getTraineeAvatar(traineeId)}}"
                     width="18"/>
                <ng-template #noAvatar>selected trainees</ng-template>
              </span>
            </div>
            <!-- TIMELINE CONTENT  -->
            <div class="vis-timeline">
              <kypo2-viz-overview-line
                      [size]="timelineSize"
                      [trainingInstanceId]="trainingInstanceId"
                      [trainingDefinitionId]="trainingDefinitionId"
                      [standalone]="true"
                      [activeFilters]="activeFilters$ | async"
                      [filterPlayers]="filteredTrainees$ | async"
                      [highlightedTrainee]="highlightedTrainee$ | async"
                      (selectedTrainee)="highlightTraineeChange($event)"
              ></kypo2-viz-overview-line>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="hasReferenceSolution" class="vis summary-container">
        <div class="graph-name-header">
          <h5>Trainees summary graph</h5>
          <button mat-button color="primary" (click)="setReferenceGraph()">Show Reference Graph</button>
        </div>
        <div class="summary-content">
          <!-- SUMMARY GRAPH CONTENT  -->
          <div *ngIf="!referenceGraphDisplayed else referenceGraph">
            <kypo-summary-graph [trainingInstanceId]="trainingInstanceId"></kypo-summary-graph>
          </div>
          <!-- SUMMARY & REFERENCE GRAPH CONTENT  -->
          <ng-template #referenceGraph class="reference-content">
            <kypo-summary-graph [trainingInstanceId]="trainingInstanceId"></kypo-summary-graph>
            <div id="reference-graph">
              <kypo-reference-graph [trainingInstanceId]="trainingInstanceId"></kypo-reference-graph>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
